<div class="login-form-handler w-50 mx-auto d-flex flex-column">
    <h1 class="text-light text-center w-50">Register</h1>
    <form class="w-50">
        <hr class="hr-2 w-65 mx-auto"/>
        <div class="form-group mt-4">
            <div class="d-flex justify-content-center mt-2 mb-2">
                <label for="register-username" class="text-light">Username</label>
            </div>
            <input type="text" class="form-control w-75 mx-auto" id="register-username" placeholder="Username...">
        </div>
        <div class="form-group">
            <div class="d-flex justify-content-center mt-2 mb-2">
                <label for="register-password" class="text-light">Password</label>
            </div>
            <input type="password" class="form-control w-75 mx-auto" id="register-password" placeholder="Password...">
        </div>
        <div class="form-group">
            <div class="d-flex justify-content-center mt-2 mb-2">
                <label for="register-confirm-password" class="text-light">Confirm Password</label>
            </div>
            <input type="password" class="form-control w-75 mx-auto" id="register-confirm-password" placeholder="Confirm Password...">
        </div>
        <hr class="hr-2 w-65 mx-auto mt-5"/>
        <div class="button-holder d-flex justify-content-center mt-3">
            <button id="register-submit-button" class="btn btn-transparent text-light border-1-white fw-bold fs-6">Submit</button>
        </div>
        <div class="text-white text-center fs-5 mt-3 fw-normal"><a href="#/login">Login</a> if you already have an account.</div>
    </form>
</div>
