<div class="home-page-handler">
    <div class="map-modal idea-modal">
        <!-- Modal -->
        <div class="modal fade" id="mapModal" tabindex="-1" role="dialog" aria-labelledby="mapModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content w-50 mx-auto">
                    <div class="modal-header d-flex justify-content-center">
                        <h5 class="modal-title text-light text-center">Map</h5>
                    </div>
                    <hr class="hr-2 w-65 mx-auto"/>
                    <div class="modal-body d-flex flex-column">
                        <div class="map-hud w-25">
                            <button id="map-ftl-button" class="btn btn-idea">FTL</button>
                        </div>
                        <hr class="hr-2 w-100 bg-idea"/>
                        <div class="full-map border-3-idea">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    (() => {

    })();
</script>
