<div id="locationTravelModal" class="location-travel-modal idea-modal">
    <!-- Modal -->
    <div class="modal fade" id="{location}" tabindex="-1" role="dialog" aria-labelledby="{location}"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content w-50 mx-auto">
                <div class="modal-header d-flex justify-content-center">
                    <h5 class="modal-title text-light text-center">Travel to {location}</h5>
                </div>
                <hr class="hr-2 w-65 mx-auto"/>
                <div class="modal-body d-flex justify-content-around">
                    <button id="location-travel-button" class="btn btn-idea">Travel</button>
                    <button type="button" class="btn btn-idea" data-dismiss="modal" aria-label="Close">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>
