<div class="location-fragment">
    <div class="container">
        <div class="location-hover">
            <div class="first-border">
                <div class="second-border">
                    <div class="third-border">
                        <div class="fourth-border">
                            <div class="location">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="location-label"></div>
</div>

