#app {
    width: 100vw;
    height: 100vh;

    padding: 0;
    margin:0;

    background: url("../assets/images/guest-background.jpg") no-repeat;
}

#app #app-blurer {
    position: absolute;
    top:0;
    left:0;

    z-index: 2;

    width: 100vw;
    height: 100vh;

    padding: 0;
    margin:0;

    opacity: 75%;

    background: #000000;
}

#app #content {
    z-index: 2000 !important;
}

#app #content * {
    z-index: 2000 !important;
}

/* Common Styles */

.hr-2 {
    opacity: 75%;
    background: white !important;
    height: 2px !important;
}

.location-container {
    width: 10%;
    height: 10%;
    display: flex;
    justify-content: center;
}

.location-label {
    display: none;
    margin-top: 0.3%;
    color: white;
    font-size: 1em;
    text-align: center;
}

.location-hover {
}

.location-hover .first-border {
    border: 5px solid white;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
    border-radius: 50%;
    padding: 1px;
    transition: all .7s ease-in-out;
    transition-property: width, height, padding, transform;
}

.location-hover .second-border {
    border: 5px solid white;
    border-right: 5px solid black;
    border-left: 5px solid black;
    border-radius: 50%;
    padding: 1px;
    transition: all .7s ease-in-out;
    transition-property: width, height, padding, transform;
}

.location-hover .third-border {
    border: 5px solid white;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
    border-radius: 50%;
    padding: 1px;
    transition: all .7s ease-in-out;
    transition-property: width, height, padding, transform;
}

.location-hover .fourth-border {
    border: 5px solid white;
    border-right: 5px solid black;
    border-left: 5px solid black;
    border-radius: 50%;
    padding: 1px;
    transition: all .7s ease-in-out;
    transition-property: width, height, padding, transform;
}

.location-hover .location {
    width: 20px;
    height: 20px;
    transition: all .7s ease-in-out;
    transition-property: width, height;
}

.location-hover .location:hover {
    width: 50px;
    height: 50px;
}

.location-hover .first-border:hover {
    transform: rotate(360deg);
    padding: 11px;
}

.location-hover .second-border:hover {
    transform: rotate(360deg);
    padding: 9px;
}

.location-hover .third-border:hover {
    transform: rotate(360deg);
    padding: 7px;
}

.location-hover .fourth-border:hover {
    transform: rotate(360deg);
    padding: 5px;
}

/* Bootstrap overrides */

.w-65 {
    width: 65%;
}

.btn-transparent {
    background: transparent;
}

.btn-idea {
    background-color: transparent;
    border: 2px solid #9c0e4a;
    color: white;
}

.bg-idea {
    background-color: #9c0e4a !important;
}

.border-1-white {
    border: 1px solid white;
}

.border-3-idea {
    border: 3px solid #9c0e4a;
    border-radius: 0.3rem;
}

input {
    background-color: transparent !important;
    color: white !important;
}

::-webkit-input-placeholder { /* Edge */
    color: white !important;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white !important;
    opacity: 1;
}

::placeholder {
    color: white !important;
}

input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

input:focus {
    background: transparent !important;
    color: white !important;
    border-color: #9c0e4a !important;
    box-shadow: 0 0 10px #9c0e4a !important; /* THE APP COLOR */
    outline: 0 none !important;
}

button:hover {
    background-color: #9c0e4a !important;
    color: white !important;
}

/* Page Styles */

/* Login Page */

.login-form-handler {
    position: fixed;
    top: 25%;
    left: 37.3%;

    height: 100vh;
}

.login-form-handler label {
    font-size: 1.25em;
}

.login-form-handler input {
    background: transparent;
    color: white;
}

/* Home page */

.home-page-handler {

}

.home-page-handler .core-hud {
    position: absolute;
    top: 94%;
    left: 80%;
    width: 20%;
}

.home-page-handler .core-hud .ship-button {
    border-radius: 90%;
    border: 5px solid white;
    width: 45px;
    height: 45px;
}

.home-page-handler .core-hud #ship-status-button {
    background: url("../assets/icons/ship.png") white no-repeat;
    background-size: cover;
}

.home-page-handler .core-hud #ship-stations-button {
    background: url("../assets/icons/stations.png") white no-repeat;
    background-size: cover;
}

.home-page-handler .core-hud #ship-map-button {
    background: url("../assets/icons/map.png") white no-repeat;
    background-size: cover;
}

.home-page-handler .core-hud #ship-drones-button {
    background: url("../assets/icons/drone.png") white no-repeat;
    background-size: cover;
}

.home-page-handler .core-hud #settings-button {
    background: url("../assets/icons/settings.png") white no-repeat;
    background-size: cover;
}
.home-page-handler .core-hud #settings-button:hover {
    background: url("../assets/icons/settings-hover.gif") white no-repeat;
    background-size: cover;
}

.home-page-handler .idea-modal .modal-content {
    margin-top: 30% !important;
    background-color: transparent;
    border: 3px solid #9c0e4a;
}

.home-page-handler .idea-modal .modal-content .modal-body {
    padding-top: 0;
}

.home-page-handler .idea-modal .modal-content .modal-header {
    border: none;
    padding-bottom: 0;
}

.home-page-handler .map-modal .modal-dialog {
    width: 95%;
    max-width: 100vw !important;
}

.home-page-handler .map-modal .modal-dialog .modal-content {
    margin-top: 0 !important;
    width: 100% !important;
}

.home-page-handler .map-modal .modal-dialog .modal-content .full-map {
    position: relative;
    height: 75vh !important;
    background: url("../assets/images/map-background.jpg") no-repeat;
    background-size: cover;
    opacity: 85%;
}


